<!--
  Generated template for the StatisticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-tabs tabs-only selectedIndex="1" color="feedpay">
  <ion-tab [root]="detailed" tabTitle="Detalhes" tabIcon="folder"></ion-tab>
  <ion-tab [root]="general" tabTitle="Geral" tabIcon="md-bulb"></ion-tab>
  <ion-tab [root]="ranking" tabTitle="Ranking" tabIcon="star"></ion-tab>
</ion-tabs>
