page-login {
    .text-center {
        text-align: center;
    }

    .no-text-decoration {
        text-decoration: none;
    }

    .forgot-pass {
        vertical-align: middle;
    }

    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }

    // input, input:focus {
    //     border-color: #38c86e;
    // }

    ion-list .item .item-inner .input-has-focus {
        border-bottom: 2px solid #38c86e !important;
    }

    $text-input-placeholder-color: #38c86e;
}
