<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding>
  <video autoplay loop src="assets/video/login.mp4"></video>
  <div padding >
    <h1 class="text-center" style="color:#38c86e;font-size:36pt;">FeedPay</h1>
    <ion-list>

      <ion-item class="no-background">
        <ion-label style="color:#fff;" floating>Usuário</ion-label>
        <ion-input style="color:#fff;" type="text"></ion-input>
      </ion-item>

      <ion-item class="no-background">
        <ion-label style="color:#fff;" floating>Senha</ion-label>
        <ion-input style="color:#fff;" type="password"></ion-input>
      </ion-item>

    </ion-list>

    <div padding>

      <ion-grid>
        <ion-row>
          <ion-col col-6><button ion-button block (click)="goHome()" color="feedpay" outline>Entrar</button></ion-col>
          <ion-col col-6>
            <div class="forgot-pass text-center"><a class="no-text-decoration"  style="color:#fff;">Esqueceu a senha?</a></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class=" text-center"><a class="no-text-decoration" href="" style="color:#fff;">Ainda não tem Cadastro?</a></p>
    </div>
  </div>

</ion-content>