<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="feedpay">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FeedPay</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <input currencyMask [(ngModel)]="value" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="input-value" placeholder="R$ 0,00"
      />
    </ion-item>

  </ion-list>

  <p style="font-size:16pt;"><span><ion-icon name="ios-information-circle-outline"></ion-icon></span> &nbsp;&nbsp;&nbsp; Caso o cliente opte por realizar a pesquisa será necessário informar o e-mail </p>

  <ion-list>

  <ion-item>
    <ion-label floating style="color:#38c86e">E-mail</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  </ion-list>


</ion-content>

<ion-footer style="height:60px;">
  <ion-grid class="no-padding no-marging">
    <ion-row>
      <ion-col class="no-padding no-marging" style="text-align:center;" col-6>
        <button style="height:60px;" class="no-padding no-marging" (click)="goToSurvey()" ion-button full color="feedpay">Pesquisa</button>
      </ion-col>
      <ion-col class="no-padding no-marging" style="text-align:center;" col-6>
        <button style="height:60px;" class="no-padding no-marging" (click)="pay()" ion-button outline color="feedpay" full>Pagar {{ value | currency: 'BRL' : true }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>