page-order {
    .input-value{
        width: 100%;
        height: 100px;
        border: none;
        border-bottom: 1px solid grey;
        font-size: 26pt;
        text-align: right;
        color:#21C25E;
    }

    .input-value::-webkit-input-placeholder {
        font-size: 20pt;
        font-size: 26pt;
        text-align: right;
        color: #21C25E;
    }

    .no-padding {
        padding: 0px !important;
    }

    .no-marging {
        margin: 0px !important;
    }
}
