<!--
  Generated template for the StatisticGeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="feedpay">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Geral</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <canvas #doughnutCanvas></canvas>
</ion-content>
