<!--
  Generated template for the LoyaltyConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="feedpay">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fidelidade</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
     <ion-item *ngFor="let loyalty of p.loyalties; let i = index">
      <ion-toggle [(ngModel)]="p.loyalties[i].active"  (click)="toggleProgram(i)"    color="secondary"></ion-toggle>
      <ion-label>{{loyalty.name}}</ion-label>
    </ion-item>
  </ion-list>

   <ion-fab right bottom>
    <button ion-fab color="feedpay"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
