<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title><span  style="color:#38C86E;">FeedPay</span></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item nav-clear menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
         <img [src]="p.path" width="30" class="img-icon"/> <span class="text-icon">{{p.title}}</span>
      </ion-item>
      <ion-item nav-clear menuClose ion-item (click)="logout()">
         <img src="assets/icon/logout.png" width="30" class="img-icon"/> <span class="text-icon">Sair</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
