<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <ion-slides pager>
    <ion-slide>
      <div class="space toolbar-background toolbar-background-ios">
        <ion-buttons end="" class="bar-buttons bar-buttons-ios">
          <a class="disable-hover" style="color:#38c86e;" (click)="goToLoginPage()">Pular</a>
        </ion-buttons>
      </div>
      <img src="assets/images/loyalty.png" alt="">
      <h2>Fidelização</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, commodi nesciunt eaque hic accusamus ad quaerat sit nihil perspiciatis eos repellendus.</p>
    </ion-slide>

    <ion-slide>
      <div class="space toolbar-background toolbar-background-ios">
        <ion-buttons end="" class="bar-buttons bar-buttons-ios">
          <a class="disable-hover" style="color:#38c86e;" (click)="goToLoginPage()">Pular</a>
        </ion-buttons>
      </div>
       <img src="assets/images/survey.png" alt="">
      <h2>Pesquisa</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, commodi nesciunt eaque hic accusamus ad quaerat sit nihil perspiciatis eos repellendus.</p>
    </ion-slide>

    <ion-slide>
      <div class="space toolbar-background toolbar-background-ios">
        <ion-buttons end="" class="bar-buttons bar-buttons-ios">
          <a class="disable-hover" style="color:#38c86e;" (click)="goToLoginPage()">Pular</a>
        </ion-buttons>
      </div>
      <img src="assets/images/survey.png" alt="">
      <h2>Feedback</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, commodi nesciunt eaque hic accusamus ad quaerat sit nihil perspiciatis eos repellendus.</p>
      <button type="button" (click)="goToLoginPage()" ion-button color="feedpay" block >Começar</button>
    </ion-slide>
  </ion-slides>
</ion-content>