<!--
  Generated template for the SurveyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="feedpay">
    <ion-title>Pesquisa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-style survey-page">
  <ion-slides>
    <ion-slide *ngIf="pesquisa.sexo.active">
      <h3>Qual o seu genêro?</h3>
      <ion-grid>
        <ion-row>
          <ion-col col-6 offset-3>
            <ion-list radio-group >
              <ion-item class="no-background">
                <ion-label class="survey-page">Masculino</ion-label>
                <ion-radio color="light" [(ngModel)]="pesquisa.sexo.value" ngDefaultControl checked="true" value="m"></ion-radio>
              </ion-item>

              <ion-item class="no-background">
                <ion-label class="survey-page">Feminino</ion-label>
                <ion-radio color="light" [(ngModel)]="pesquisa.sexo.value" ngDefaultControl value="f"></ion-radio>
              </ion-item>

              <ion-item class="no-background">
                <ion-label class="survey-page">Não informar</ion-label>
                <ion-radio color="light" [(ngModel)]="pesquisa.sexo.value" ngDefaultControl value="n/a"></ion-radio>
              </ion-item>
            </ion-list>
            <button ion-button (click)="nextQuestion()" color="light" outline block>Ok</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide *ngIf="pesquisa.idade.active">
      <h3>Idade?</h3>
      <ion-grid>
        <ion-row>
          <ion-col col-4 offset-4>
            <ion-list>
              <ion-item>
                <ion-input type="number"></ion-input>
              </ion-item>
            </ion-list>
            <button ion-button (click)="nextQuestion()" color="light" outline block>Ok</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide *ngFor="let question of pesquisa.questions | activeFilter: {active: true}; let i = index">
      <ion-icon [ngClass]="question.color" style="font-size:76pt;" [name]="question.icon"></ion-icon>
      <h3>{{question.question}}</h3>
      <ion-icon style="font-size:24pt;margin:2px;" class="star-color" *ngFor="let r of rates;" [name]="r <= questionRate[i] ? 'star' : 'star-outline'"
        (click)="setRate(r, i)"></ion-icon>
    </ion-slide>

    <ion-slide padding>
      <h3>Fim.</h3>
    </ion-slide>

  </ion-slides>
</ion-content>