page-survey {
    .star-color {
        // color: #FFC125;
        color: white;
        font-size: 16pt;
    }

    .red-icon {
        color: #E91023;
    }

    .blue-icon {
        color: #0073C6;
    }

    .green-icon {
        color: #80BB01;
    }

    .bg-style {
        background: #38C86E;
    }

    .light-icon {
        color: white;
    }

    .survey-page {
        color: white !important;
    }

}
