<!--
  Generated template for the RankingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="feedpay">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Ranking</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>

        <ion-item *ngFor="let item of list;let i = index">
            {{i+1}} - {{item}}
            <ion-icon name="star" class="amarelo" item-end><small class="preto">4.{{9-i-2}}</small></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>