<!--
  Generated template for the SurveyConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="feedpay">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurar Pesquisa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-toggle [(ngModel)]="survey.sexo.active" (click)="toggleGenre()" color="secondary"></ion-toggle>
      <ion-label>Genêro</ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="survey.idade.active" (click)="toggleAge()" color="secondary"></ion-toggle>
      <ion-label>Idade</ion-label>
    </ion-item>

    <ion-item *ngFor="let q of survey.questions; let i = index">
      <ion-toggle [(ngModel)]="survey.questions[i].active" (click)="toggleQuestion(i)" color="secondary"></ion-toggle>
      <ion-label>{{q.question}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="feedpay">Desconto</ion-label>
      <ion-input type="number" placeholder="100%"></ion-input>
    </ion-item>

  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="feedpay"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>